<% include ./partials/header %>
<link type="text/css" href="/stylesheets/editProfile.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href='/stylesheets/member.css'>

<div class="ui container segment">
  <form
    class='ui small form'
    action="/members/<%= currentUser._id %>/edit?_method=PUT"
    method="POST">
    <div class="ui medium list">
      <div class="item">
        <h3 class="ui medium dividing header">Personal Information</h3>
        <div class="ui two column stackable grid">
        <div class="column header">First name:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            name="user[firstname]"
            placeholder="First name"
            value="<%= member.firstname %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Middle name:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            name="user[middlename]"
            placeholder="Middle name"
            value="<%= member.middlename %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Last name:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            name="user[lastname]"
            placeholder="Last name"
            value="<%= member.lastname %>"
          />
        </div>
        </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Date Of Birth:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="date"
            name="user[dateOfBirth]"
            value="<%= member.birthday %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Occupation:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            name="user[occupation]"
            placeholder="Occupation"
            value="<%= member.occupation %>"
          />
        </div>
      </div>
    </div>
    
     <div class="item">
      <h3 class="ui medium dividing header">Contact</h3>
      <div class="ui two column stackable grid">
        <div class="column header">Email:</div>
        <div class="column capitalize ui transparent input">
          <input
            type="email"
            placeholder='Email'
            name='user[email]'
            value="<%= member.email %>"
            disabled
          />
        </div>
      </div>
    </div>
    
     <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Phone1:</div>
        <div class="column capitalize">
          <input
            type="text"
            placeholder='Phone Number'
            name='user[phone]'
            value="<%= member.phone %>"
          />
        </div>
      </div>
    </div>
    
     <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Phone2:</div>
        <div class="column capitalize">
          <input
            type="text"
            placeholder='Second Phone'
            name='user[phone2]'
            value="<%= member.phone2 %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Residential Address:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            placeholder='Lagos Address'
            name='user[address]'
            value="<%= member.address %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">Home Address:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            placeholder='Village Address'
            name='user[address2]'
            value="<%= member.address2 %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">State of Origin:</div>
        <div class="column capitalize">
          <select class='ui fluid search dropdown' name='user[state]'>
          <% states.forEach((state) => { %>
            <% const selected = state === member.state? 'selected' : ''; %>
            <option value='<%= state %>' <%= selected %>><%= state %></option>
          <% }) %>
          </select>
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">City/Town:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            placeholder='City/Town'
            name='user[city]'
            value="<%= member.city %>"
          />
        </div>
      </div>
    </div>
    
    <div class="item">
      <div class="ui two column stackable grid">
        <div class="column header">L.G.A:</div>
        <div class="column capitalize">
          <input
            class='capitalize'
            type="text"
            placeholder='Local Government of Origin'
            name='user[localGovernmentOfOrigin]'
            value="<%= member.localGovernmentOfOrigin %>"
          />
        </div>
      </div>
    </div>
    
    <input class="ui primary button" type="submit" value="Save">
    <button class="ui button" type="button" value="Update Details">
      <a href="/members/<%=currentUser.id%>">Cancel</a>
    </button>
  </form>
</div>

<% include ./partials/footer %>