<% include ./partials/header %>

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Meet The Executives
</h2>

<!-- President & Vice -->
<div class='ui centered cards' style='margin: 20px'>
  <div class="ui card" style='margin: 20px'>
    <div class="image">
      <img src='<%=president["image"] %>'>
    </div>
    <div class="content capitalize">
      <div class="header"><%= president['firstname'] %> <%= president['lastname'] %></div>
      <div class="meta">President</div>
    </div>
    <a class="ui large teal bottom attached button" href="/members/<%= president['_id'] %>">
      <i class="user icon"></i>
      View Profile
    </a>
  </div>

  <% if(vicePresident){ %>
    <div class="ui card" style='margin: 20px'>
      <div class="image">
        <img src='<%= vicePresident["image"] %>'>
      </div>
      <div class="content capitalize">
        <div class="header"><%= vicePresident['firstname'] %> <%= vicePresident['lastname'] %></div>
        <div class="meta">Vice President</div>
      </div>
      <a class="ui large teal bottom attached button" href="/members/<%= vicePresident['_id'] %>">
        <i class="user icon"></i>
        View Profile
      </a>
    </div>
  <% } %>
</div>

<!-- Other Executives -->
<div class='ui padded container'>
  <div class="ui four raised doubling cards">
    <% for(let exec of executives){ %>
      <div class="ui card">
        <div class="image">
          <img src='<%= exec.image %>'>
        </div>
        <div class="content capitalize">
          <div class="header"><%= exec.firstname %> <%= exec.lastname %></div>
          <div class="meta"><%= exec.currentPosition %></div>
        </div>
        <a class="ui large teal bottom attached button" href="/members/<%= exec['_id'] %>">
          <i class="user icon"></i>
          View Profile
        </a>
      </div>
    <% } %>
  </div>
</div>


<div class="ui horizontal container divider" style='margin: 40px'>
  <h2 class="ui center aligned  header">
    Members
  </h2>
</div>

<!-- Members -->
<div class='ui padded container'>
  <div class="ui five raised doubling cards">
    <% for(let member of members){ %>
        <div class="ui card">
          <div class="image">
            <img src='<%= member.image %>'>
          </div>
          <div class="content capitalize">
            <div class="header"><%= member.firstname %> <%= member.lastname %></div>
          </div>
          <a class="ui large teal bottom attached button" href="/members/<%= member['_id'] %>">
            <i class="user icon"></i>
            View Profile
          </a>
        </div>
    <% } %>
  </div>
</div>

