<% include ./partials/header %>

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Meet The Executives
</h2>

<!-- President & Vice -->
<div class='ui centered cards' style='margin: 20px'>
  <% for(var i=0; i<members.length; i++){ %>
    <% if(members[i]['currentPosition'] === 'president'){ %>
      <div class="ui card" style='margin: 20px'>
        <div class="image">
          <img src='<%= members[i]["image"] %>'>
        </div>
        <div class="content capitalize">
          <div class="header"><%= members[i]['firstname'] %> <%= members[i]['lastname'] %></div>
          <div class="meta">President</div>
        </div>
        <a class="ui large teal bottom attached button" href="/members/<%= members[i]['_id'] %>">
          <i class="user icon"></i>
          View Profile
        </a>
      </div>
    <% } %>
  <% } %>

  <% for(var i=0; i<members.length; i++){ %>
    <% if(members[i]['currentPosition'] === 'vice president'){ %>
      <div class="ui card" style='margin: 20px'>
        <div class="image">
          <img src='<%= members[i]["image"] %>'>
        </div>
        <div class="content capitalize">
          <div class="header"><%= members[i]['firstname'] %> <%= members[i]['lastname'] %></div>
          <div class="meta">Vice President</div>
        </div>
        <a class="ui large teal bottom attached button" href="/members/<%= members[i]['_id'] %>">
          <i class="user icon"></i>
          View Profile
        </a>
      </div>
    <% } %>
  <% } %>
  
</div>

<!-- Other Executives -->
<div class='ui padded container'>
  <div class="ui four stackable cards">
    <% for(var i=0; i<members.length; i++){ %>
      <% if(members[i]['isExecutive']){ %>
        <% if(members[i]['currentPosition'] !== 'president' && members[i]['currentPosition'] !== 'vice president'){ %>
        <div class="ui card">
          <div class="image">
            <img src="<%= members[i].image %>">
          </div>
          <div class="content capitalize">
            <div class="header"><%= members[i].firstname %> <%= members[i].lastname %></div>
            <div class="meta"><%= members[i].currentPosition %></div>
          </div>
          <a class="ui large teal bottom attached button" href="/members/<%= members[i]['_id'] %>">
            <i class="user icon"></i>
            View Profile
          </a>
        </div>
        <% } %>
      <% } %>
    <% } %>
  </div>
</div>


<div class="ui horizontal container divider" style='margin: 40px'>
  <h2 class="ui center aligned  header">
    Members
  </h2>
</div>

<!-- Members -->
<div class='ui padded container'>
  <div class="ui five stackable cards">
    <% for(var i=0; i<members.length; i++){ %>
      <% if(!members[i]['isExecutive']){ %>
        <div class="ui card">
          <div class="image">
            <img src="<%= members[i].image %>">
          </div>
          <div class="content capitalize">
            <div class="header"><%= members[i].firstname %> <%= members[i].lastname %></div>
          </div>
          <a class="ui large teal bottom attached button" href="/members/<%= members[i]['_id'] %>">
            <i class="user icon"></i>
            View Profile
          </a>
        </div>
      <% } %>
    <% } %>
  </div>
</div>

