<% include ./partials/header %>

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Meet The Executives
</h2>

<!-- President & Vice -->
<div class='ui centered cards' style='margin: 20px'>
  <% if (president) { %>
    <% const { _id, image, firstname, lastname } = president %>
    <div class="ui card" style='margin: 20px'>
      <div class="image">
        <img src='<%= image %>'>
      </div>
      <div class="content capitalize">
        <div class="header"><%= firstname %> <%= lastname %></div>
        <div class="meta">President</div>
      </div>
      <a class="ui large teal bottom attached button" href="/members/<%= _id %>">
        <i class="user icon"></i>
        View Profile
      </a>
    </div>
  <% } %>

  <% if (vicePresident) { %>
    <% const { _id, image, firstname, lastname } = vicePresident %>
    <div class="ui card" style='margin: 20px'>
      <div class="image">
        <img src='<%= image %>'>
      </div>
      <div class="content capitalize">
        <div class="header"><%= firstname %> <%= lastname %></div>
        <div class="meta">Vice President</div>
      </div>
      <a class="ui large teal bottom attached button"
        href="/members/<%= _id %>">
        <i class="user icon"></i>
        View Profile
      </a>
    </div>
  <% } %>
</div>

<!-- Other Executives -->

<div class='ui padded container'>
  <div class="ui four raised doubling cards">
    <% if (queen) { %>
      <% const { _id, image, firstname, lastname } = queen %>
      <div class="ui card">
        <div class="image">
          <img src='<%= image %>'>
        </div>
        <div class="content capitalize">
          <div class="header"><%= firstname %> <%= lastname %></div>
          <div class="meta">queen</div>
        </div>
        <a class="ui large teal bottom attached button"
          href="/members/<%= _id %>">
          <i class="user icon"></i>
          View Profile
        </a>
      </div>
    <% } %>
    <% executives.forEach(exec => { %>
      <% const { _id, image, firstname, lastname, currentPosition } = exec %>
      <div class="ui card">
        <div class="image">
          <img src='<%= image %>'>
        </div>
        <div class="content capitalize">
          <div class="header"><%= firstname %> <%= lastname %></div>
          <div class="meta"><%= currentPosition %></div>
        </div>
        <a class="ui large teal bottom attached button"
          href="/members/<%= _id %>">
          <i class="user icon"></i>
          View Profile
        </a>
      </div>
    <% }) %>
  </div>
</div>


<div class="ui horizontal container divider" style='margin: 40px'>
  <h2 class="ui center aligned  header">
    Members
  </h2>
</div>

<!-- Members -->
<div class='ui padded container'>
  <div class="ui five raised doubling cards">
    <% members.forEach(member => { %>
      <% const { _id, image, firstname, lastname } = member %>
      <div class="ui card">
        <div class="image">
          <img src='<%= image %>'>
        </div>
        <div class="content capitalize">
          <div class="header"><%= firstname %> <%= lastname %></div>
        </div>
        <a class="ui large teal bottom attached button" href="/members/<%= _id %>">
          <i class="user icon"></i>
          View Profile
        </a>
      </div>
    <% }) %>
  </div>
</div>

<% include ./partials/footer %>
