<% include ./partials/header %>

<div class="ui raised container segment">
  <form class="ui form new-committee" action="/committees" method="POST">
    <h2 class="form-title">Add new committee</h2>
    <div class="field">
      <label>Title</label>
      <input
        type="text"
        Placeholder="Enter name of committee in full"
        name="committee[title]"
      >
    </div>
    <div class="field">
      <label>Purpose</label>
      <textarea
        type="text"
        Placeholder="Committee's main objective"
        name="committee[purpose]"
      ></textarea>
    </div>
    <div class="field">
      <label>Start Date</label>
      <input type="date" name="committee[startDate]">
    </div>
    <div class="field">
      <label>Chairman</label>
      <select class='ui fluid dropdown capitalize' name="committee[chairman]">
        <option value=''>Select</option>
        <% users.forEach((user) => { %>
          <option value="<%= user._id %>" class="capitalize">
            <%= user.firstname %> <%= user.lastname %>
          </option>
        <% }) %>
      </select>
    </div>
    <div class="field">
      <label>Members</label>
      <select multiple class='ui fluid search dropdown'
        name="committee[members]"
      >
        <option value=''>Select</option>
        <% users.forEach((user) => { %>
          <option value="<%= user._id %>">
            <%= user.firstname %> <%= user.lastname %>
          </option>
        <% }) %>
      </select>
    </div>
    <input class="ui button login" type="submit" value="Create Committee">
    <a class="ui inverted button" href="/committees">Cancel</a>
  </form>
</div>

<link rel='stylesheet' type='text/css' href='/stylesheets/committee.css'>
<% include ./partials/footer %>