<% include ./partials/header %>
<link type="text/css" href="/stylesheets/userControl.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href='/stylesheets/member.css'>

<section class='ui container'>
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab='first'>Select Executives</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab='first'>
    <form class='ui form'>
      <div class="ui big list">
      <% positions.forEach((position) => { %>
        <% const pos = position.toLowerCase() %>
        <div class="item">
          <div class="ui three column stackable grid">
            <div class="six wide column header"><%= position %>:</div>
            <div class="five wide column capitalize">
              <select name='<%= pos %>' class='ui small selection dropdown'>
                <% members.forEach((m) => { %>
                  <% const { _id, firstname, lastname, currentPosition } = m %>
                  <% const selected = currentPosition === pos
                    ? 'selected' : ''; %>
                  <option <%= selected %> value='<%= _id %>'>
                    <%= `${firstname} ${lastname}` %>
                  </option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>
      <% }) %>
      </div>
    </form>
  </div>
</section>

<script src='/js/userControl.js'></script>