<!DOCTYPE html>
<html lang="en-NG">

<head>
  <% if(!title){ %>
    <% var title = 'CYON Regina-Mundi'; %>
  <% } %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Semantic-ui -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">

  <!-- Custom styles for this template -->
  <link type="text/css" href="/stylesheets/app.css" rel="stylesheet">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id='header'>
    <div class="container">
      <span class="navbar-brand">CYON Regina-Mundi</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class='navbar-nav mr-auto'>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
          </li>
          <% if(currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/committees">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/birthdays">Birthdays</a>
            </li>
          <% } %>
          <% if(currentUser && currentUser.isAdmin){ %>
            <li class="nav-item">
              <a class="nav-link" href="/userControl">Admin Panel</a>
            </li>
          <% } %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/signup">Sign Up</a>
            </li>
          <% } else { %>
            <% const { _id, firstname, image} = currentUser %>
            <li class='nav-item'>
              <a class="navbar-text capitalize" href="/members/<%= _id %>">
                <%= firstname %>
              </a>
            </li>
            <li class='nav-item'>
              <img class='ui spaced circular avatar image'
              src='<%= image || "https://cdn2.vectorstock.com/i/1000x1000/23/81/default-avatar-profile-icon-vector-18942381.jpg" %>'>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/members/<%= _id %>">View Profile</a>
                <a class="dropdown-item" href="/members/<%= _id %>/edit">Edit Profile</a>
                <a class="dropdown-item" href="/members/<%= _id %>/imageupload">
                  Upload Profile Picture
                </a>
                <a class="dropdown-item" href="/auth/logout">Logout</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <% if(error && error.length > 0){ %>
    <div class="ui negative message container">
      <i class="close icon"></i>
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %>
    <div class="ui positive message container">
      <i class="close icon"></i>
      <%= success %>
    </div>
  <% } %>